<div fxLayout="row">
  <div fxLayout="column" fxFlex>
    <h2>Users <button md-button (click)="addUser()" color="primary">Add</button></h2>
    <div fxFlex="90" fxLayout="column">
      <md-card *ngFor="let user of users; let i = index">
        <md-card-title>{{user.userId}}</md-card-title>
        <md-card-subtitle>Secret:{{user.secret}}</md-card-subtitle>
        <md-card-content>
          <md-chip-list class="chips">
            <md-chip>Verified:{{user.verified}}</md-chip>
            <md-chip>Identity:{{user.identity}}</md-chip>
            <md-chip>Address: {{user.address}}</md-chip>
          </md-chip-list>

          <div *ngFor="let doc of user.documents; let j = index" fxLayout="row">
            <img fxFlex md-card-image src="https://angular.io/assets/images/logos/angular/angular.svg">
            <div fxFlex fxLayout="column" fxLayoutAlign="center center">
              <div>TYPE:{{doc.type}}</div>
              <div>STATUS:{{doc.status}}</div>
            </div>
          </div>


        </md-card-content>
        <md-card-actions>
          <button md-raised-button (click)="uploadDocument(user, i)" color="primary">Upload Document</button>
        </md-card-actions>
      </md-card>
    </div>
  </div>


  <div fxLayout="column" fxFlex>
    <h2>Managers <button md-button (click)="addManager()" color="primary">Add</button></h2>
    <div fxFlex="90" fxLayout="column">
      <md-card *ngFor="let manager of managers">
        <md-card-title>{{manager.userId}}</md-card-title>
        <md-card-subtitle>Secret:{{manager.secret}}</md-card-subtitle>
        <md-card-content>

        </md-card-content>
      </md-card>
    </div>
  </div>


</div>
